<div class="container text-center">
    <hr>
    <h4>Our Contact</h4>
    <hr>
</div>

<div class="container-fluid mt-3">
    <div class="row text-center">
        <div class="col-12 social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-github-alt"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>