{% load static %}
<div class="d-md-flex flex-row justify-content-md-around box">
    <div class="p-3">
        <div class="container bg-light text-center p-3 shadow">
            <h5>Blog</h5>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <a href="#" type="button" class="btn btn-danger">Read Blog</a>
        </div>
    </div>
    <div class="p-3">
        <div class="container bg-light text-center p-3 shadow">
            <h5>Project</h5>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <a href="#" type="button" class="btn btn-primary">Open Project</a>
        </div>
    </div>
    <div class="p-3">
        <div class="container bg-light text-center p-3 shadow">
            <h5>About</h5>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <a href="#" type="button" class="btn btn-danger">Read About</a>
        </div>
    </div>
</div>