{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock style %}


{% block content %}
<section class="mt-2">
    <!-- Search -->
    {% include 'snippets/search.html' %}
</section>

<section>
    <div class="container text-center mt-4">
        <hr>
        <h2>Result</h2>
        <hr>
    </div>

    <div class="blog-area">
        <div class="container">
            <div class="row">
                {% for artikel in artikels %}
                {% if forloop.counter == 1 %}
                <div class="col-12 col-lg-6">
                    <div class="single-post-area">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="{{artikel.thumbnail.url}}" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="{% url 'blog:category' artikel.kategori.slug 1 %}"
                            class="btn post-catagory">{{artikel.kategori}}</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">{{artikel.published}}</a>
                            </div>
                            <a href="{% url 'blog:detail' artikel.slug %}" class="post-title">{{artikel.judul}}</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="shadow">
                        <div class="single-post-area">
                            <!-- Post Thumbnail -->
                            <a href="{% url 'blog:detail' artikel.slug %}" class="post-thumbnail"><img
                                    src="{{artikel.thumbnail.url}}" alt=""></a>
                            <!-- Post Catagory -->
                            <a href="{% url 'blog:category' artikel.kategori.slug 1 %}"
                                class="btn post-catagory">{{artikel.kategori}}</a>
                        </div>
                        <div class="post-content-wrap">
                            <!-- Post Conetent -->
                            <div class="container post-content-sm">
                                <div class="post-meta">
                                    {{artikel.isi|truncatewords:12|safe}}
                                    <br>
                                    <a href="#">{{artikel.published}}</a>
                                </div>
                                <a href="{% url 'blog:detail' artikel.slug %}" class="post-title">{{artikel.judul}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}